#search {
    background-color: #D9D9D9 !important;
    color: #000000 !important;
    border: none !important;
    border-radius: 15px !important;
}
#search::placeholder{
    color:black ;
}
#search:c{
    color:black ;
}