/* .container-test {
  margin: ;
} */

.card-box {
  border: black solid 1px;
}

.btn-ct {
  background-color: #5fbeaa !important;
  margin-bottom: 5px;
}

.categories {
  margin: 4px, 4px;
  padding: 4px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#menulist::-webkit-scrollbar {
  height: 5px;
}

#menulist::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
  outline: 1px solid slategrey;
}

#menulist {
  display: flex;
  justify-content: start;
}

.card {
  padding: 5px;
  width: 17%;
  display: inline-block;
  box-shadow: 1px 1px 10px black;
  border-radius: 5px;
  margin: 1%;
  background-color: #f2f4f2;
}
.title {
  padding-top: 10px;
}
.image img {
  object-fit: contain;
  height: 90px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.des > p {
  font-size: 10px !important;
}
